<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <div class="container mt-5">
            <div class="jumbotron text-center">
                <h1 class="display-4">Learn from the Best Courses Online</h1>
                <p class="lead">Browse our extensive collection of courses and start learning today!</p>
                <a class="btn btn-primary btn-lg" href="/courses" role="button">Get Started</a>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
